html,
body {
  margin: 0;
  padding: 0;
}

.app-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.todo-container {
  padding-top: 100px;
  width: 70vw;
}

.todo-list-item-container {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: blanchedalmond;
  }
}

.modal-item {
  border: 3px solid green;
  background-color: white;
  padding: 30px;
}

.modal-container {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
